<div class="container mt-4">
  <h1 class="text-center">Novo Dono de Quadra</h1>

  <div class="card p-4 shadow">
    <%= render "form", court_owner: @court_owner %>
    <div class="mt-3">
      <%= link_to "Voltar", court_owners_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
