<% flash.each do |type, message| %>
  <% alert_class = case type
                   when 'notice' then 'alert-success'
                   when 'alert' then 'alert-danger'
                   when 'warning' then 'alert-warning'
                   when 'info' then 'alert-info'
                   else 'alert-secondary'
                   end %>
  <div class="alert <%= alert_class %> alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
  </div>
<% end %> 